.comments {

    >h1 {
        font-weight: 500;
    }
    
    >.comment__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 30px;


        >.comments__items {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            border-radius: 15px;
            margin-block: 10px;
            max-width: 700px;
            width: 100%;
            padding: 20px;


            >.comments__item-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                gap: 10px;

                >.comments__item-avatar_name {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                >.comment_item-left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;

                    >.comments__item-rate_date {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        color: #bcbcbc;
                    }
                }

            }

            >.comments__item-body {
                display: flex;
                flex-direction: column;
                padding-top: 10px;

                >.comments__item-text {
                    font-size: 18px;
                    max-width: 700px;
                    width: 100%;
                }

                >.comments__item-photo {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 10px;
                }
            }

            >.addreplyfrom_admin {

                span {
                    display: flex;
                    flex-direction: column;
                    color: #FE5F1E;
                    cursor: pointer;
                    width: 60px;
                }

                >.replyfrom_admin__body {
                    display: flex;
                    gap: 10px;
                }
            }

            >.replyfrom_admin {
                display: flex;
                flex-direction: column;
                font-size: 18px;
                background-color: #FFF7EE;
                border-radius: 10px;
                padding: 10px;
                margin-top: 10px;
                border-left: 1px solid #FE5F1E;
                border-left-width: 2px;

                >span {
                    color: #FE5F1E;
                    cursor: pointer;
                    width: 60px;
                }

                >.replyfrom_admin__body {
                    display: flex;
                    gap: 10px;
                }
            }

        }
    }
}

.ant-image-mask {
    border-radius: 10px;
}