.MakingOrder {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 20px;

    >.order {
        max-width: 760px;
        width: 100%;
        user-select: none;

        >.order_basket {
            border-radius: 30px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

            >.basket_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #c7c7c7;
                padding: 20px;

                >span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #C0C0C0;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    gap: 10px;

                    &:hover {
                        color: #000;
                    }
                }
            }

            >.basket_cart {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;

                >.cart_product {
                    display: flex;
                    align-items: center;
                    max-width: 372px;
                    width: 100%;
                    gap: 15px;

                    >.cart_details p {
                        color: #A1A1A1;
                    }

                }

                >.price_current {
                    display: flex;
                    position: relative;
                    align-items: center;
                    gap: 30px;

                    >.cart_price {
                        width: 62px;
                    }

                    >.cart_delete {
                        transition: all 0.3s ease;
                        color: #C0C0C0;

                        &:hover {
                            color: #000;
                        }
                    }

                    >.cart_amount {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        >.amount_minus,
                        .amount_plus {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #FE5F00;
                            border-radius: 10px;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .MakingOrder {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 770px) {
    .basket_cart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e7e7e7;
    }

    .price_current {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        gap: 100px;
    }
}

@media (max-width: 395px) {
    .cart_product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        >.cart_details {

            >.cart_name>h3 {
                text-align: center;
            }

            >.cart_toTasty,
            p {
                text-align: center;
            }

        }
    }
}