.header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FE5F1E;
    border-radius: 20px;
    font-family: "Nunito";
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 140px;
    height: 40px;
    cursor: pointer;
    gap: 7px;



    .price,
    .basket>span {
        color: #FFF;
        padding-left: 5px;
    }

    .header__left_line {
        background: rgba(255, 255, 255, 0.25);
        width: 1px;
        height: 25px;
    }

    .basket {
        display: flex;
        position: relative;
        align-items: center;
        width: 10px;

        >.arrow {
            position: absolute;
            top: -8px;
            opacity: 0;
            visibility: hidden;
            transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
            transform: translateX(-5px);
        }
    }



    &:hover {
        background-color: rgb(232, 97, 0);
        color: rgb(255, 255, 255);

        >.basket {
            >.arrow {
                opacity: 1;
                visibility: visible;
                transform: translateX(5px);
            }

            >span {
                display: none;
            }
        }
    }
}


.fixed_basket {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #FE5F1E;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 40px;
    cursor: pointer;

    >.fixed_basket__amount {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        border-radius: 50%;
        font-size: 12px;
        width: 20px;
        height: 20px;
        top: -3px;
        right: -3px;

        >span {
            color: #FE5F1E;
            font-weight: 600;
        }
    }
}

@media (max-width: 1160px) {
    .header__right {
        display: none;
    }

    .fixed_basket {
        display: flex;
    }
}