.header__right {
    span {
        color: #FFF;
        padding-left: 5px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FE5F1E;
        border-radius: 20px;
        font-family: "Nunito";
        font-size: 14px;
        text-decoration: none;
        width: 130px;
        height: 40px;
        gap: 10px;

        .header__left_line {
            background: rgba(255, 255, 255, 0.25);
            width: 1px;
            height: 25px;
        }

        .basket {
            display: flex;
            align-items: center;
        }
    }
}