.PersonalData {

    >h1 {
        font-weight: 500;
    }

    >.allInputData {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        >.personal_input {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #d0d0d0;
            border-radius: 20px;
            padding: 20px;
            width: 370px;

            >div {
                display: flex;
                position: relative;
                justify-content: center;
                flex-direction: column;

                >span {
                    position: absolute;
                    top: 40px;
                    right: 15px;
                    color: #FE5F1E;
                    cursor: pointer;
                }

                >input {
                    border: 1px solid #d0d0d0;
                    font-size: 16px;
                    padding-left: 15px;
                    margin-bottom: 15px;
                    border-radius: 15px;
                    width: 353px;
                    height: 48px;

                    &:focus-visible {
                        outline: 1px solid #FE5F1E;
                    }

                    &::placeholder {
                        font-family: 'Nunito';
                    }
                }

                >label {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .card_input {
                position: relative;

                >.validThru {
                    position: absolute;
                    text-align: center;
                    font-size: 14px;
                    border: none;
                    outline: none;
                    padding: 10px;
                    width: 60px;
                    height: 20px;
                    right: 10px;
                    top: 30px;
                }
            }

            >.btn_change_allInput {
                background-color: none;
                border-radius: 10px;
                border: 1px solid #d0d0d0;
                font-weight: 500;
                width: 120px;
                height: 40px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    color: #FE5F1E;
                }
            }
        }
    }

    >button {
        border: 1px solid #d0d0d0;
        border-radius: 10px;
        margin-top: 10px;
        font-size: 14px;
        border: none;
        width: 150px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            color: #FE5F1E !important;
        }
    }
}