

.header__left a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 10px;
}

.header__logo {
    margin-bottom: -15px;
}

.header__text h1 {
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}

.header__text p {
    color: #7B7B7B;
    font-family: "Nunito";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.3;
}
