section {
    display: flex;
    flex-direction: column;

    >h2 {
        margin-bottom: 10px;
    }
}

.filter__button {
    background-color: #FE5F00;
    border-radius: 18px;
    border: none;
    color: #fff;
    width: 244px;
    height: 50px;
    cursor: pointer;
}


.ant-checkbox-inner,
.ant-checkbox {
    background-color: rgb(243 244 246) !important;
}

.ant-checkbox-inner {
    padding: 10px;
}

.ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled) {
    background-color: rgb(243 244 246) !important;
    border: none !important;
}

:where(.css-dev-only-do-not-override-apn68).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #FE5F00 !important;
}

.ant-checkbox-group,
.ant-radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    >.ant-checkbox-wrapper span {
        font-family: 'Nunito';
        font-size: 18px;
        font-weight: 500;
    }
}

.ant-form-item-control-input-content {
    display: flex;
    gap: 10px;

    >.ant-input-affix-wrapper {
        border-radius: 10px;
        width: 90px;
        height: 40px;
    }
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    background-color: #FE5F00;
    border: #FE5F00;
}

.ant-radio-wrapper :hover {
    border-color: #FE5F00;
}

.ant-radio-wrapper .ant-radio-inner {
    background-color: #F1F1F1;
    border: none;
}


.ant-input-outlined {
    border-color: #bcbcbc;

    &:focus-within {
        border-color: #FE5F00;
        box-shadow: none;
    }

    &:hover {
        border-color: #FE5F00;
    }
}

.ant-slider .ant-slider-handle::after {
    content: '';
    box-shadow: 0 0 0 2px #FE5F00 !important;

    &:hover {
        box-shadow: 0 0 0 2px #FE5F00 !important;
    }
}

.ant-slider .ant-slider-handle:hover::after {
    box-shadow: 0 0 0 2px #FE5F00;
}

.ant-slider-mark span {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 400;
}

:where(.css-dev-only-do-not-override-apn68).ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-apn68).ant-slider .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-apn68).ant-slider .ant-slider-handle:focus::after {
    outline: 5px solid #fe5f0082;
}

:where(.css-dev-only-do-not-override-apn68).ant-slider:hover .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #FE5F00;
}