.Categories {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 40px;


    >.item ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        >li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 30px;
            border-radius: 30px;
            background: #F9F9F9;
            list-style: none;
            font-family: "Nunito";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
        }

        .ant-segmented {
            background-color: rgb(243 244 246);
            border-radius: 20px;
            padding: 10px;
        }

        .ant-segmented-item-selected {
            border-radius: 12px;
            color: #FE5F00;
        }

        .ant-segmented-item-label {
            padding-inline: 15px;
            font-weight: 500;
            font-size: 16px;
        }
    }

    .DropDown {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(243, 244, 246);
        border-radius: 15px;
        width: 240px;
        height: 55px;
    }

    span {
        color: #282828;
    }
}

.ant-segmented .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(.ant-segmented-item-disabled)::after {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}