main {
    display: flex;

    >.container {

        >.filter__main_block {
            display: flex;
            justify-content: space-between;

            .main_block {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 905px;
                width: 100%;

                >div >.main__pizza,
                .main__breakfast,
                .main__snacks,
                .main__cocktails,
                .main__drinks,
                .main__desserts {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                    gap: 25px;
                }
            }
        }
    }
}