main {
    display: flex;

    >.container {

        >.filter__main_block {
            display: flex;
            justify-content: space-between;

            .main_block {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                max-width: 905px;
                width: 100%;

                >div>div {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                    min-width: 904px;
                    min-height: 955px;
                    gap: 25px;
                }
            }
        }
    }
}