main {
    display: flex;
    justify-content: space-between;

    >.container {

        >.filter__main_block {
            display: flex;
            justify-content: space-between;

            .main_block {
                display: flex;
                flex-wrap: wrap;
                max-width: 905px;
                width: 100%;
                gap: 25px;

                >.main__pizza {
                    display: flex;
                    flex-direction: column;
                    padding-top: 35px;
                    max-width: 285px;
                    gap: 15px;

                    >.main__img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #FFF7EE;
                        border-radius: 15px;

                        >img {
                            padding: 30px;
                            width: 211px;
                        }
                    }

                    >.pizza_desc {
                        color: #B1B1B1;
                    }

                    >.pizza__options {
                        display: flex;
                        flex-direction: column;
                        width: 280px;

                        >.main__price_button {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            >h3 {
                                font-weight: 600;

                                >span {
                                    font-size: 18px;
                                    font-weight: 500;
                                }
                            }

                            >button {
                                font-family: 'Nunito';
                                font-weight: 600;
                                font-size: 16px;
                                color: #FE5F00;
                                border: none;
                                border-radius: 15px;
                                background: #FFFAF4;
                                width: 155px;
                                height: 40px;
                                cursor: pointer;
                                transition: all 0.3s ease;

                                &:hover {
                                    background-color: rgb(255, 202, 167);
                                    color: #FFFAF4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}