.address {
    border: 1px solid #c7c7c7;
    margin-top: 50px;
    border-radius: 30px;
    width: 100%;
    height: auto;

    >.address_header {
        border-bottom: 1px solid #c7c7c7;
        padding: 20px;
    }

    >.address_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px;
        gap: 10px;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            >input {
                border: 1px solid #d0d0d0;
                font-size: 16px;
                padding-left: 15px;
                margin-bottom: 15px;
                border-radius: 15px;
                max-width: 705px;
                width: 100%;
                height: 48px;

                &:focus-visible {
                    outline: 1px solid #FE5F1E;
                }

                &::placeholder {
                    font-family: 'Nunito';
                }
            }

        }
    }
}