.Product {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Делаем контейнер на всю высоту экрана

    >header {
        margin: 0; // Если вдруг у Header есть margin, убираем
    }
}

.ProductContent {
    flex: 1; // Основной контент занимает всё доступное пространство
}

.Breadcrumb {

    ol,
    a {
        display: flex;
        list-style: none;
        text-decoration: none;
        color: #aaa;
        gap: 10px;

        >li:hover {
            transition: all 0.3s ease;
            color: #FE5F1E;
            cursor: pointer;
        }

        >.active {
            color: #FE5F1E;
        }
    }
}