.ant-drawer-body {
    >.body_item {
        overflow: auto;
        max-height: 750px;
        height: 100%;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(255, 94, 0);
            cursor: n-resize;
            border-radius: 10px;
        }


        >.basket {
            display: flex;
            justify-content: space-between;
            background: white;
            padding: 10px 15px;
            margin-bottom: 10px;
            flex-direction: column;

            .basket_details {
                display: flex;
                margin-bottom: 10px;
                gap: 10px;

                >.details p {
                    display: flex;
                    flex-direction: column;
                    color: rgb(92, 99, 112);
                    font-size: 12px;
                    width: 260px;
                }

                >.delete_basket {
                    padding-left: 30px;
                }
            }

            >.current {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid rgb(226, 226, 233);
                font-size: 16px;
                font-weight: 600;
                padding-block: 15px;

                >.counter {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    background: rgb(243, 243, 247);
                    border-radius: 50px;
                    color: rgb(92, 99, 112);
                    width: 96px;
                    height: 32px;
                    -moz-user-select: -moz-none;
                    -o-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;

                    >svg:hover {
                        fill: #000;
                    }
                }
            }
        }
    }
}


.ant-drawer-content {
    background: rgb(243, 243, 247) !important;

    >.ant-drawer-body {
        position: relative;
        padding: 0 !important;

        >footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            box-shadow: rgba(6, 5, 50, 0.1) 0px -2px 4px;

            >.subtotal {
                display: flex;
                flex-direction: column;
                padding: 15px;
                gap: 10px;

                >.info,
                .info_AllPrice {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                >.info {
                    border-bottom: 1px solid rgb(226, 226, 233);
                    padding-bottom: 10px;
                }

                >button {
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(255, 105, 0);
                    color: rgb(255, 255, 255);
                    border-radius: 50px;
                    font-family: 'Nunito';
                    font-size: 18px;
                    margin-top: 10px;
                    border: none;
                    height: 48px;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    >svg {
                        position: absolute;
                        right: 20px;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        background-color: rgb(232, 97, 0);

                        >svg {
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
    }
}