.payment {
    position: sticky;
    border: 1px solid #c7c7c7;
    border-radius: 30px;
    height: 290px;
    max-width: 450px;
    width: 100%;
    top: 20px;
    left: 0;

    >.total {
        padding: 20px 40px;
    }

    >.payment_body {
        padding: 20px 40px;
        border-block: 1px solid #c7c7c7;
        font-family: 'Nunito';

        >div {
            display: flex;
            justify-content: space-between;

            >div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                width: 100%;
                gap: 5px;

                >.product_dt {
                    display: flex;
                    align-items: baseline;
                    flex-grow: 1;

                    &::after {
                        content: '';
                        width: 100%;
                        margin-inline: 0.3em;
                        border-bottom: 2px dotted #DFDFDF;
                    }
                }

                .free {
                    color: #FE5F00;
                }
            }
        }
    }

    >.toPay {
        display: flex;
        justify-content: center;
        padding-top: 15px;

        >button {
            background: #FE5F00;
            border: none;
            outline: none;
            border-radius: 15px;
            font-family: 'Nunito';
            font-size: 18px;
            color: #fff;
            width: 370px;
            height: 60px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: rgb(232, 97, 0);
            }
        }
    }
}

@media (max-width: 1280px) {
    .payment {
        margin-top: 50px;
        max-width: 752px;
        width: 100%;
    }
}