.OrderHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 10px;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.ant-steps-icon>span>svg {
    fill: #FE5F00;
}

.ant-steps-item-title {
    width: 130px;
    font-size: 14px !important;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
    background-color: #FE5F00 !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #FFF7EE !important;
    border-color: #FFF7EE !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: #FE5F00 !important;
    border-color: #FE5F00 !important;
}

@media (max-width: 770px) {
    .OrderHeader {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        gap: 15px;
    }
}

@media (max-width: 575px) {
    .steps {
        display: none;
    }
}